{% include 'header.html' %}
  <div class="container">
  	<h2 style="margin-top :20px;">School Gallery</h2>
  	<hr style="type:soild black;">
<div style="margin-top : 20px;" class="row">
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? playing school" alt="" style="width:380px; height:300px">
  </div>
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? studing students in classroom" alt="" style="width:380px; height: 300px;">
  </div>
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? student in school" alt="" style="width:380px; height:300px;">
  </div>
</div>

<div style="margin-top: 10px;">
<div class="row">
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/?  school" alt="" style="width:380px; height:300px">
  </div>
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? smart classroom" alt="" style="width:380px; height: 300px;">
  </div>
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? school clebiration" alt="" style="width:380px; height:300px;">
  </div>
</div>
</div>



<div style="margin-top: 10px; margin-bottom: 20px;">
<div class="row">
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/?  schools" alt="" style="width:380px; height:300px">
  </div>
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? online class" alt="" style="width:380px; height: 300px;">
  </div>
  <div class="col">
    <img src=" https://source.unsplash.com/900x400/? school assembly" alt="" style="width:380px; height:300px;">
  </div>
</div>
</div>
</div>


</div>
</div>
</div>
</nav>
<!--footer-->


{% include 'footer.html' %}